{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <div>
<h1>{{name}}</h1>

{{#each users}}
<hr>
{{id}}
<br>
<h5>{{name}}</h5>
{{gender}}
{{age}}
<br>

{{#each friends}}
<hr>
{{id}}
<br>
<h5>{{name}}</h5>
{{gender}}
{{age}}
{{/each}}
<br>
{{#each friends}}
{{#each mutual_friends}}
<hr>
{{id}}
<br>
<h5>{{name}}</h5>
{{gender}}
{{age}}
<br>
{{/each}}

{{/each}}

{{#each groups}}
<hr>
{{id}}
<h5>{{name}}</h5>
<q>{{description}}</q>

{{#each members}}
<hr>
{{id}}
<br>
<h5>{{name}}</h5>
{{gender}}
{{age}}
<br>
{{/each}}
{{/each}}

</div>



<div>
{{#each friends}}
{{#each mutual_friends}}
{{#each mutual_friends}}
<hr>
{{id}}
<br>
<h5>{{name}}</h5>
{{gender}}
{{age}}
<br>
{{/each}}
{{/each}}


{{#each groups}}
<hr>
{{id}}
<h5>{{name}}</h5>
<q>{{description}}</q>

{{#each members}}
<hr>
{{id}}
<br>
<h5>{{name}}</h5>
{{gender}}
{{age}}


<br>
{{/each}}
{{/each}}
{{/each}}
{{/each}}
</div>
</div>
</div>
    



 




 









    

    
 






{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
