{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>

<div>
<h1>{{name}}</h1>
<hr>
 {{description}}
 </div>

<br>

<div>
 {{#with history}}
 {{year}}
 <br>
    {{founder}}
    {{/with}}
</div>

<div>
{{#each types}}
<li>
{{this}}
</li>
{{/each}}
</div>

<div>
{{#with syntax}}
<br>
{{variables}}
<br>
{{functions}}
<br>
{{conditionals}}
<br>
{{loops}}
<br>
{{classes}}
{{/with}}
</div>

<div>
{{#each features}}
<li>
{{this}}
</li>
{{/each}}
<br>
{{#each libraries}}
<li>
{{this}}
</li>
{{/each}}
<br>
{{#each tools}}
<li>
{{this}}
</li>
{{/each}}
<br>
</div>

<div>
{{#each community}}
<li>
{{name}}
<br>
{{type}}
</li>
{{/each}}
</div>
</div>



















    

    
 






{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
