<div>
    <br>
    <div class="row gy-5">
        <div class="col-12">
        <div class="card">
    <div class="nav">
        <div class="nav-item">
        {{#with navigation}}
        {{#each links}}
      <a href={{"href"}}class="nav-link">{{text}}</a>
        {{/each}}
        {{/with}}
        </div>
        </div>
        </div>
        </div>  
        </div>
        </div>
</div>  
<br>
<br> 

<div>
    {{#with newsBlock}}
<h1 class="text-center">{{title}}</h1>    
<div class="row gx-3 gy-3">
{{#each cards}}
    <div class="col-3">
      <div class="card text text-center">
    <div class="card-body">
        <h6> <div class= "card-header"> {{title}}</div> </h6>
<p>{{description}}</p>
{{#if isHot includeZero=true}} {{/if}}
{{#if isNew includeZero=true}} {{/if}}
</div>
</div>
</div>
{{/each}}
</div>
{{/with}}
</div>
<hr>

<section>
    {{#with goodsBlock}}
 <ul class="nav nav-tabs">
    {{#each tabs}}
   <li class="nav-link {{#if isActive}} activ {{/if}}
{{#if isDisabled}} disabled {{/if}}">
{{text}}
</li>
{{/each}}
</ul>

<div class="row gx-3 gy-3">
{{#each cards}}
<section class="col-4">
<div class="card text">
    <img class="card-img-top" src="http://picsum.photos/400/200" alt="Product photo"> 
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
 <p class="text">{{description}}</p>
 <ul class="nav nav-tabs">
 <li class="nav-link {{#if isHot}} hot {{/if}}
{{#if isNew}} new {{/if}}">
{{text}}
</li>
</ul>
</div>
</div>
</section>
{{/each}}
</div>
{{/with}}

<section>
{{#with subscribe}}
<div class="card text-bg-dark">
    <div class="card-header text">
    <div class="card-body text">
<h2>{{header}}</h2>
<p>{{description}}</p>
{{#each buttons}}
<a href={{"link"}} class="btn btn-primary">{{text}}</a>
{{/each}}
</div>
</div>
</div>
{{/with}}
</section>

<section>
{{#with service}}
<div class="card text-bg-success">
    <div class="card-header text-center">
    <div class="card-body text-center">
<h2>{{title}}</h2>
<p>{{description}}</p>
{{#each buttons}}
<a href={{"link"}} class="btn btn-primary">{{text}}</a>
{{/each}}
</div>
</div>
</div>
{{/with}}
</section>

<footer>
    <div class="row g-5">
        {{#each footer}}
    <div class="nav col-2">
    <div>
{{#each this}}
<div>
    <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
     </div>
{{/each}}
</div>
</div>
{{/each}}
</footer>



1 сдулать кнопки одна за другой
2 проставить надпись новое 
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
