<main>
<div>
    <br>
    <div class="row gy-5">
        <div class="col-12">
        <div class="card">
    <div class="nav">
        <div class="nav-item">
        {{#with navigation}}
        {{#each links}}
      <a href={{"href"}}class="nav-link">{{text}}</a>
        {{/each}}
        {{/with}}
        </div>
        </div>
        </div>
        </div>  
        </div>
        </div>  
<br>
<br> 
<h1>{{header}}</h1>


<div>
    {{#with contacts_data}}
<h1 class="text-center">{{title}}</h1>    
<div class="row gx-3 gy-3">
{{#each buttons}}
    <div class="col-3">
<button class="btn btn-outline-warning">{{text}}</button>  
        
{{#if isPrimary includeZero=true}} {{/if}}
{{#if isOutline includeZero=true}} {{/if}}
</div>
{{/each}}
</div>
{{/with}}
</div>
<br>

<div class="row">
    <div class="col-8">
{{#with form}}
{{#each input}}
<div class="col-4 g-2">
            <label class="form-lable">{{label}}</label>
            <input class="form-control" placeholder={{placeholder}} type="text">
            <div class="form-text"> {{caption}}</div>
        </div>  
{{/each}}
<hr class="my-4">

{{#each switch}}

<div class="col-8">
    <div class="form -check form-switch {{#if @first}} mb-3{{/if}}">
    <input class="form-check-input" type="checkbox"{{#if isActive}} checked {{/if}}>
    <label class="form-check-label"> {{text}} </label>
</div>

{{/each}}
{{/with}}
</div>
</div>








<footer>
    <div class="row g-5">
        {{#each footer}}
    <div class="nav col-2">
    <div>
{{#each this}}
<div>
    <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
     </div>
{{/each}}
</div>
</div>
{{/each}}
</footer>
</main>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
