<div>
    {{#with page_header}}
     <h1 class="text-center">{{title}}</h1>
     <br>     
        <div class=" text-center text-uppercase">{{title}}</div>
    {{/with}}    
</div>

    <div class="card">
        <div class="card-body">
    {{#with section}}
    {{#with about_us}}
    {{#with title_list}}
    <div class="text-muted text-end"> 
    <span class="display-6"> {{main}} </span>
    <br>
    <br>
    <h2>{{sub}}</h2>
    {{/with}}
    </div>
    <br>
    {{#with button}}
         <button class="btn btn-outline-info">{{text}}</button>
{{/with}}
{{/with}}
</div>
</div>



<div>
    {{#with advantage}}
  <div class="text-muted"> 
    <span class="display-5">{{title}}</span>  
    <br>
    <br>

    <div class="card">
        <div class="card-body">
 <div class="card">
        <div class="card-body">
{{#with efficiency}}
 <div class="text-muted"> 
    <span class="display-4">{{title}}</span> 
    <br> 
<br>
<h6>{{sub_title}}</h6>
<br>
<p>{{description}}</p>
<br>
<button class="btn btn-outline-warning">{{button}}</button>
{{/with}}
</div>
</div>
</div>
</div>
</div>
<br>

<div class="card">
        <div class="card-body">

{{#with innovation}}
<div class="text-muted text-center"> 
    <span class="display-4">{{title}}</span> 
 </div>   
    <br> 
    <br>
    <h6 class="text-dark text-center">{{sub_title}}</h6>     
<br>
<p class="text-dark text-center">{{description}}</p>
<br>
<button class="btn btn-outline-warning">{{button}}</button>
{{/with}}
</div>
</div>
<br>

<div class="card">
        <div class="card-body">
<div>
{{#with collaboration}}
<div class="text-dark text-end"> 
    <span class="display-4">{{title}}</span> 
 </div>   
    <br> 
    <br>
    <h6 class="text-dark text-end">{{sub_title}}</h6>     
<br>
<p class="text-dark text-end">{{description}}</p>
<br>
<button class="btn btn-outline-warning">{{button}}</button>
<br>
</div>
{{/with}}
{{/with}}
</div>
</div>
<br>
<br>

 <div class="card">
        <div class="card-body">
{{#with agreement}}
<div class="text-dark"> 
    <span class="display-5">{{title}}</span> 
 </div>
 <div class="card">
        <div class="card-body">
 {{#with info}}
 <h5>{{sub_title}}</h5>
 
  <div class="card">
        <div class="card-body">
 {{#with detail}}
 <br>
 <p>{{text}}</p>
 <br>
 <button class="btn btn-success">{{button}}</button>
 {{/with}}
 {{/with}}
 
</div>
{{/with}}
{{/with}}
</div>
</div>











    
    




